<ion-header>
  <ion-toolbar color="warning">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/cursos']" routerdirction= "forward"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
     
  <iframe width="400" height="315" src="https://www.youtube.com/embed/Ds1n6aHchRU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Curso Spring boot
      </ion-card-subtitle>
      <ion-card-title>Lógica de programação é a técnica de encadear pensamentos para atingir determinado objetivo. Estes pensamentos, podem ser descritos como uma seqüência de instruções, que devem ser seguidas para se cumprir uma determinada tarefa. Seqüência Lógica são passos executados até atingir um objetivo ou solução de um problema.
      </ion-card-title>
    </ion-card-header>
  
  
   <!-- <ion-button color="success" fill="clear">Play<ion-icon name="caret-forward-circle"></ion-icon></ion-button>-->
   <!-- <ion-button fill="danger">Pause</ion-button>-->
  </ion-card>

</ion-content>
