<ion-header>
  <ion-toolbar color="warning">
    <ion-title></ion-title>
    <ion-icon name="chevron-back"[routerLink] = "['/cursos']" routerdirction= "forward"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
     
  <iframe width="400" height="315" src="https://www.youtube.com/embed/bCzsSXE4Jzg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Curso Spring boot
      </ion-card-subtitle>
      <ion-card-title>O Spring Boot é um framework Java open source que tem como objetivo facilitar esse processo em aplicações Java. Consequentemente, ele traz mais agilidade para o processo de desenvolvimento, uma vez que devs conseguem reduzir o tempo gasto com as configurações iniciais.
      </ion-card-title>
    </ion-card-header>
  
  
   <!-- <ion-button color="success" fill="clear">Play<ion-icon name="caret-forward-circle"></ion-icon></ion-button>-->
   <!-- <ion-button fill="danger">Pause</ion-button>-->
  </ion-card>

</ion-content>
